.form {
  position: absolute;
  top: 31rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title,
.categories {
  appearance: none;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  color: var(--main-text-color);
  font-size: 16px;
  padding-left: 10px;
}

.title {
  width: 520px;
  margin: 0;
}

.categories {
  width: 120px;
  margin-left: 10px;
}

.categories option {
  color: black;
}

.button {
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--btn-color);
  color: var(--main-text-color);
  font-size: 40px;
}
