.note {
    display: flex;
    align-items: center;
}

.checkbox {
  appearance: none;
  width: 26px;
  height: 26px;
  border: 1px solid var(--btn-color);
  border-radius: 2px;
  cursor: pointer;
}

.checkbox:checked {
  background-color: var(--btn-color);
}

.checkbox:checked::before {
  content: "✔";
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.checkbox:checked + p {
  text-decoration: line-through;
  color: gray;
}

p {
  font-weight: bold;
  padding-left: 15px;
}
